<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.ScenicCategoryMapper">

<!--  添加的sql语句  -->
    <insert id="save">
        INSERT INTO scenic_category(name)
        VALUES (#{name})
    </insert>

<!--  批量删除的sql语句（也包括单个删除）  -->
    <delete id="batchDelete">
        <!--  foreach标签中： collection：集合变量名  item：集合中单个元素名 open：开始之前的符号-->
        <!-- separator：每次循环结果之间添加的元素  close：结束之后添加的元素 -->
        DELETE FROM scenic_category
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--  修改的sql语句  -->
    <update id="update">
        UPDATE scenic_category
        SET name = #{name}
        WHERE id = #{id}
    </update>

<!--  查询的sql语句  -->
    <select id="query" resultMap="BaseResultMap">
        SELECT id, name
        FROM scenic_category
        <!--  where标签会自动处理多于的AND  -->
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null and name != ''">
                <!-- 字符串拼接形式1 -->
                AND name LIKE '%${name}%'
            </if>
        </where>
        ORDER BY id DESC
        <!-- 只有分页查询才有这句sql语句 -->
        <if test="current != null and size != null">
            LIMIT #{current}, #{size}
        </if>

    </select>

<!--  查询总条数  -->
    <select id="queryTotal" resultType="integer">
        SELECT COUNT(*)
        FROM scenic_category
        <!--  where标签会自动处理多余的AND  -->
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null and name != ''">
                <!-- 字符串拼接形式2 -->
                AND name LIKE concat('%',#{name},'%')
            </if>
        </where>
    </select>

<!--  查询指定分类名在数据库中是否已经存在  -->
    <select id="queryExist" resultType="cn.kmbeast.pojo.entity.ScenicCategory">
        SELECT id, name
        FROM scenic_category
        WHERE name = #{name}
    </select>
    
<!--  查询结果映射  -->
    <resultMap id="BaseResultMap" type="cn.kmbeast.pojo.entity.ScenicCategory">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
</mapper>
