<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.VendorMapper">

<!--  增加的sql语句  -->
<insert id="save">
    INSERT INTO vendor(name,
                       concat_person,
                       concat_phone,
                       email,
                       product_type,
                       work_address,
                       user_id,
                       is_audit,
                       status,
                       create_time)
    VALUES(#{name},
           #{concatPerson},
           #{concatPhone},
           #{email},
           #{productType},
           #{workAddress},
           #{userId},
           #{isAudit},
           #{status},
           #{createTime})
</insert>

<!--  删除的sql语句  -->
<delete id="batchDelete">
    DELETE FROM vendor
    WHERE id In
    <foreach collection="ids" item="id" open="(" separator="," close=")">
        #{id}
    </foreach>
</delete>

<!--  修改的sql语句  -->
<update id="update">
    UPDATE vendor
    <set>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="concatPerson != null and concatPerson != ''">
            concat_person = #{concatPerson},
        </if>
        <if test="concatPhone != null and concatPhone != ''">
            concat_phone = #{concatPhone},
        </if>
        <if test="email != null and email != ''">
            email = #{email},
        </if>
        <if test="productType != null and productType != ''">
            product_type = #{productType},
        </if>
        <if test="workAddress != null and workAddress != ''">
            work_address = #{workAddress},
        </if>
        <if test="userId != null">
            user_id = #{userId},
        </if>
        <if test="isAudit != null">
            is_audit = #{isAudit},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
    </set>
    WHERE id = #{id}
</update>

<!--  分页查询的sql语句  -->
    <select id="query" resultMap="baseQueryResultMap">
        SELECT vendor.id,
               vendor.name,
               vendor.concat_person,
               vendor.concat_phone,
               vendor.email,
               vendor.product_type,
               vendor.work_address,
               vendor.user_id,
               vendor.is_audit,
               vendor.status,
               vendor.create_time,
               user.user_name
        FROM vendor INNER JOIN user ON vendor.user_id = user.id
        <where>
            <if test="id != null">
                AND vendor.id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND vendor.name LIKE '%${name}%'
            </if>
            <if test="isAudit != null">
                AND vendor.is_audit = #{isAudit}
            </if>
            <if test="status != null">
                AND vendor.status = #{status}
            </if>
            <if test="userId != null">
                AND vendor.user_id = #{userId}
            </if>
            <if test="startTime != null and endTime != null">
                AND vendor.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY id DESC
        <!--  只有分页查询才有这句语句  -->
        <if test="current != null and size != null">
            LIMIT #{current}, #{size}
        </if>

    </select>

<!--  分页查询的结果总数  -->
    <select id="queryCount" resultType="integer">
        SELECT COUNT(*)
        FROM vendor
        <where>
            <if test="id != null">
                AND vendor.id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND vendor.name LIKE '%${name}%'
            </if>
            <if test="isAudit != null">
                AND vendor.is_audit = #{isAudit}
            </if>
            <if test="status != null">
                AND vendor.status = #{status}
            </if>
            <if test="userId != null">
                AND vendor.user_id = #{userId}
            </if>
            <if test="startTime != null and endTime != null">
                AND vendor.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
    </select>

<!--  根据条件查询指定Vendor  -->
    <select id="getByActive" resultMap="vendorQueryResultMap">
        SELECT id,
               name,
               concat_person,
               concat_phone,
               email,
               product_type,
               work_address,
               user_id,
               is_audit,
               status,
               create_time
        FROM vendor
        <where>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="isAudit != null">
                AND is_audit = #{isAudit}
            </if>
        </where>
    </select>

<!--  分页查询结果映射  -->
    <resultMap id="baseQueryResultMap" type="cn.kmbeast.pojo.vo.VendorVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="concat_person" property="concatPerson"/>
        <result column="concat_phone" property="concatPhone"/>
        <result column="email" property="email"/>
        <result column="product_type" property="productType"/>
        <result column="work_address" property="workAddress"/>
        <result column="user_id" property="userId"/>
        <result column="is_audit" property="isAudit"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="user_name" property="userName"/>
    </resultMap>

<!--  Vendor实体类映射  -->
    <resultMap id="vendorQueryResultMap" type="cn.kmbeast.pojo.entity.Vendor">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="concat_person" property="concatPerson"/>
        <result column="concat_phone" property="concatPhone"/>
        <result column="email" property="email"/>
        <result column="product_type" property="productType"/>
        <result column="work_address" property="workAddress"/>
        <result column="user_id" property="userId"/>
        <result column="is_audit" property="isAudit"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>
